pkgbase = zramswap-advanced
	pkgdesc = Sets up zram-based swap devices on boot
	pkgver = 7
	pkgrel = 1
	url = http://en.wikipedia.org/wiki/ZRam
	arch = any
	license = GPL
	depends = bash
	backup = etc/zramswap.conf
	source = zramctrl
	source = zramswap.conf
	source = zramswap.service
	md5sums = 7f3b6273d07e81f402e30596b504ed88
	md5sums = 5c48da68a55babc058b5d879bc5bf75d
	md5sums = a6c029dc942c85704b0f6ac1ca078a24

pkgname = zramswap-advanced

