pkgbase = zramswap
	pkgdesc = Sets up zram-based swap devices on boot
	pkgver = 6
	pkgrel = 1
	url = http://en.wikipedia.org/wiki/ZRam
	arch = any
	license = GPL
	depends = bash
	backup = etc/zramswap.conf
	source = zramctrl
	source = zramswap.conf
	source = zramswap.service
	md5sums = 3792bc5f4f581b84188c8430a4061938
	md5sums = f316261875a100f03d82ba377b3e5abd
	md5sums = a6c029dc942c85704b0f6ac1ca078a24

pkgname = zramswap

